# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

jobs:
- job: Get_Repos
  displayName: Get_Repos
  pool:
    vmImage: 'Ubuntu 18.04'
  steps:
  - powershell: 'node scripts/GetRepo.js'
    name: GetRepo
  - script: echo $(GetRepo.EnabledJobs)
    name: EchoRepo
- job: AzureSdkForNet
  dependsOn: Get_Repos
  variables:
    EnabledJobs: $[ dependencies.Get_Repos.outputs['GetRepo.EnabledJobs'] ]
    SDK_REPO_NAME: azure-sdk-for-net
  condition: contains(dependencies.Get_Repos.outputs['GetRepo.EnabledJobs'], 'azure-sdk-for-net')
  displayName: AzureSdkForNet
  steps:
  - template: templates/RunSDKAuto.yml
- job: AzureSdkForJava
  dependsOn: Get_Repos
  variables:
    EnabledJobs: $[ dependencies.Get_Repos.outputs['GetRepo.EnabledJobs'] ]
    SDK_REPO_NAME: azure-sdk-for-java
  condition: contains(dependencies.Get_Repos.outputs['GetRepo.EnabledJobs'], 'azure-sdk-for-java')
  displayName: AzureSdkForJava
  steps:
  - template: templates/RunSDKAuto.yml
- job: AzureSdkForJs
  dependsOn: Get_Repos
  variables:
    EnabledJobs: $[ dependencies.Get_Repos.outputs['GetRepo.EnabledJobs'] ]
    SDK_REPO_NAME: azure-sdk-for-js
  condition: contains(dependencies.Get_Repos.outputs['GetRepo.EnabledJobs'], 'azure-sdk-for-js')
  displayName: AzureSdkForJs
  steps:
  - template: templates/RunSDKAuto.yml
- job: AzureSdkForPython
  dependsOn: Get_Repos
  variables:
    EnabledJobs: $[ dependencies.Get_Repos.outputs['GetRepo.EnabledJobs'] ]
    SDK_REPO_NAME: azure-sdk-for-python
  condition: contains(dependencies.Get_Repos.outputs['GetRepo.EnabledJobs'], 'azure-sdk-for-python')
  displayName: AzureSdkForPython
  steps:
  - template: templates/RunSDKAuto.yml
